{% extends "base.html" %}

{% block title %}電場計算{% endblock %}

{% block content %}
<a href="{% url 'index' %}">ホームに戻る</a>
<a href="{% url 'ef' %}">電極条件</a>
<a href="{% url 'ec' %}">電場計算</a>
<a href="{% url 'MDc' %}">MD計算</a>
<a href="{% url 'plot' %}">グラフ化</a>

{% endblock %}


{% block body %}
<form action="/ec/" method="post">
    {% csrf_token %}
     <input type="number" id="value1" name="value1" value="1">

    <input type="submit" name="ec_buttuon" value="実行">
    {{ message }}
</form>


{% endblock %}